body{
  background: linear-gradient(#8F2A27, #661E1C);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #dbf0ff;
}
.home{
  text-align: center;
}
.form-control{
  border-radius: 7px;
  background-color:whitesmoke;
  border-style: inherit;
  font-size: medium;
  width: 30%;
  margin-bottom: 8px;
}