body{
  background: linear-gradient(#14004D, #3500C7);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #6bcbff;
}
.home{
  text-align: center;
}
.form-control{
  border-radius: 7px;
  background-color:whitesmoke;
  border-style: inherit;
  font-size: medium;
  width: 30%;
  margin-bottom: 8px;
}
table{
  background-color: azure;
  border: #14004D solid;
  text-align: center;
  padding: 10px;
  margin: 20px;
  justify-content: center;
}
tbody,thead{
  background-color: #14004D;
}